<!doctype html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/nav.ejs') %>
    <h1>Hello, world!</h1>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
