<!doctype html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/nav.ejs') %>
    <div class="container mt-5">
      <h1>Registration</h1>
      <% if (message) { %>
        <div class="alert alert-success" role="alert">
              <%=message %>
          </div>
        <% } %> 
        <form method="POST"  action="/register">
            <div class="mb-3">
              <label for="name" class="form-label">Name<sub style="color:red">*</sub></label>
              <input type="text" class="form-control" id="name" name="name" aria-describedby="name_help">
              <div id="name_help" class="form-text">We'll never share your name with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>